# SSD and USB
ACTION=="add|change", KERNEL=="nvme[0-9]*|sd[a-z]|mmcblk[0-9]*", ATTR{queue/scheduler}="none", ATTR{queue/nr_requests}="128", ATTR{queue/read_ahead_kb}="256", ATTR{queue/rq_affinity}="2"
# HDD
ACTION=="add|change", KERNEL=="sd[a-z]", ATTR{queue/rotational}=="1", ATTR{removable}=="0", ATTR{queue/scheduler}="bfq", ATTR{queue/nr_requests}="128", ATTR{queue/read_ahead_kb}="256", ATTR{queue/rq_affinity}="2"
