* {
  font-family: NotoSans;
  font-weight: 700;
  font-size: 16px;
  min-height: 0px;
}

window#waybar {
  background-color: #000000;
  color: #ffffff;
  border-top: 1px solid #121212;
  border-bottom: 0;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

button:hover {
  background: inherit;
  box-shadow: none;
}

#workspaces button {
  padding: 0 5px;
  background-color: #000000;
  color: #ffffff;
}

#workspaces button.active {
  background-color: #33ccbb;
  color: #000000;
}

#workspaces button.urgent {
  background-color: #f2074d;
  color: #000000;
}

#clock, #battery, #network, #pulseaudio, #temperature, #language {
  padding: 0 5px;
  background-color: #33ccbb;
  color: #000000;
}

#window, #workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#network.disconnected, #network.disabled, #battery.critical:not(.charging) {
  background-color: #f2074d;
  color: #000000;
}

@keyframes blink {
  to {
   background-color: #ffffff;
   color: #000000;
  }
}

label:focus {
  background-color: #000000;
}
