/* Waybar style */

* {
  font-family: NotoSans;
  font-weight: 800;
  font-size: 14.5px;
  min-height: 0px;
}

window#waybar {
  background-color: #000000;
  color: #ffffff;
  border-bottom: 0px;
  transition-property: background-color;
  transition-duration: .5s;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

button:hover {
  background: inherit;
  box-shadow: none;
}

#workspaces button {
  padding: 0 5px;
  background-color: #000000;
  color: #ffffff;
}

#workspaces button.active {
  background-color: #33ccbb;
  color: #000000;
}

#workspaces button.urgent {
  background-color: #f2074d;
  color: #000000;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#39 { padding: 0 5px; }

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #33ccbb;
  color: #000000;
}

#battery {
  background-color: #33ccbb;
  color: #000000;

}

@keyframes blink {
  to {
   background-color: #ffffff;
   color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f2074d;
  color: #000000;
}

label:focus {
  background-color: #000000;
}

#network {
  background-color: #33ccbb;
  color: #000000;
}

#network.disconnected {
  background-color: #f2074d;
  color: #000000;
}

#pulseaudio {
  background-color: #33ccbb;
  color: #000000;
}

#pulseaudio.muted {
  background-color: #33ccbb;
  color: #000000;
}

#language {
  background-color: #33ccbb;
  color: #000000;
  padding: 0 5px;
  margin: 0 0px;
  min-width: 0px;
}
