/* Waybar's CSS config */

* {
  font-family: "NotoSans";
  font-weight: 700;
  font-size: 14px;
}

window#waybar {
  background-color: #1A1A1F;
  color: #e5e5e0;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

button:hover {
  background: inherit;
  box-shadow: none;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: #ffffff;
}
/*
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}
*/
#workspaces button.active {
  background-color: #48D8DB;
  color: #1A1A1F;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#39 { padding: 0 5px; }

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #48D8DB;
  color: #1A1A1F;
}

#battery {
  background-color: #48D8DB;
  color: #1A1A1F;
}
/*
#battery.charging, #battery.plugged {
  color: #ffffff;
  background-color: #26A65B;
}
*/
@keyframes blink {
  to {
   background-color: #ffffff;
    color: #000000;
  }
}

#battery.critical:not(.charging) {
  background-color: #f2074d;
  color: #1a1a1f;
}

label:focus {
  background-color: #000000;
}

#network {
  background-color: #48D8DB;
  color: #1A1A1F;
}

#network.disconnected {
  background-color: #F2074D;
}

#pulseaudio {
  background-color: #48D8DB;
  color: #1A1A1F;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #f2074d;
}

#language {
  background-color: #48D8DB;
  color: #1A1A1F;
  padding: 0 5px;
  margin: 0 0px;
  min-width: 0px;
}
